body {
  background-color: #ffffd4;
}

.center-box {
  border: 2px solid brown;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.text {
  background-color: white;
  color: #555;
}
.first {
  display: block;
  padding: 22px;
  border: 1px solid brown;
}
second {
  
}

nav ul {
  background-color: #ff7f2a;
  list-style-type: none;
  overflow: hidden;

  padding: 22px;
  border: 1px solid brown;
  color: red;
}

li {
  float: none;
}

li a {
  float: left;
  display: block;
  margin: 1%;
  text-decoration: none;
  font-family: "Roboto";
  color: white;
}

li a:hover {
  background-color: #bf153f;
}

.text {
  border: 1px solid brown;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

footer {
}
