body {
  background-color: #ffffd4;
}

.center-box {
  border: 2px solid brown;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.first {
  display: block;
  padding: 22px;
  border: 1px solid brown;
}

nav ul {
  background-color: #ff7f2a;
  list-style-type: none;
  overflow: hidden;

  padding: 22px;
  border: 1px solid brown;
  color: red;
}

li {
  float: none;
}

li a {
  float: left;
  display: block;
  text-decoration: none;
  font-family: "Roboto";
  color: white;
}

.text {
  border: 1px solid brown;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
