* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
body {
  background-color: #f9f6e6;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  max-width: 100%;
  width: 90vw;
  height: 90vh;
  margin: auto;
}
.header {
  /*background-color: #a08b14;*/
  /*color: #333;*/
  padding: 20px;
  background-image: url("../img/9-DSC_5023-1024x682_2.jpg");
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#logo {
  width: 80px; /* vagy pl. 5vw, ha arányos méret kell */
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: 0;
  
  /*float: right;  jobb oldalra igazítás */
  /*margin: 0 auto;  középre igazítás */
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  justify-items: stretch;
  width: 100%;
}

.header {
  border: 1px solid black;
  grid-area: 1 / 1 / 2 / 7;
}

.section {
  border: 1px solid black;
  border-radius: 4px;
  grid-area: 2 / 2 / 6 / 6;
}

.asideL {
  border: 1px solid black;
  border-radius: 4px;
  grid-area: 2 / 1 / 6 / 2;
}

.asideR {
  border: 1px solid black;
  border-radius: 4px;
  grid-area: 2 / 6 / 6 / 7;
}

.footer {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-area: 6 / 1 / 7 / 7;
}

.copyright {
  border: 1px solid black;
  border-radius: 4px;
  grid-area: 3 / 1 / 4 / 4;
}

.socialmedia {
  border: 1px solid black;
  border-radius: 4px;
  grid-area: 2 / 1 / 3 / 4;
}

.otherlinks {
  border: 1px solid black;
  border-radius: 4px;
  grid-area: 1 / 1 / 2 / 4;
}
