* {
  margin: 0;
  padding: 1px;
  box-sizing: border-box;
}

body {
  border: 1px solid black;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*font-family: 'Arial', sans-serif;*/
  max-width: 100%;
  width: 99vw;
  height: 100vh;
  margin: auto;

  background-color: #fde9e9;
}

.heading {
  text-align: center;
  font-size: 2em;
  background-image: url("../img/img_2996-1024x683.jpg");
  border-radius: 6px;
  height: 55vh;
  opacity: 0.8;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*grid-area: 1 / 1 / 2 / 7;*/
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* tartalom alulra */
  height: 55vh;
}

.header-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Whisper", cursive;
  color: white;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 120px;
}

#logo {
  display: block;
  width: 25%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
}

nav.nav {
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: #e6dcdc;*/
  color: #fff;
  padding: 5px;
  margin: 5px;
}

ul.navigation {
  display: flex;
  list-style: none;
}

ul.navigation li {
  margin: 0 10px;
}

ul.navigation li a {
  text-decoration: none;
  color: #cc0c0c;
}

ul.navigation li a:hover {
  color: #fff;
}

div.hamburger {
  flex-direction: column;
  display: none;
}

div.hamburger div {
  background-color: #fff;
  width: 25px;
  height: 3px;
  margin: 4px;
}

@media (max-width: 470px) {
  ul.navigation {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
    text-align: center;
    border: 1px solid #ddd;
  }

  ul.navigation.active {
    display: flex;
  }

  div.hamburger {
    display: flex;
  }
}
