.container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr repeat(3, 3.5fr) 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header"
    "aside section1"
    "aside section2"
    "aside section3"
    "footer footer";
  width: 100%;
}

.header {
  grid-area: header;
}

.aside {
  grid-area: aside;
}

.section2 {
  grid-area: section2;
}

.section3 {
  grid-area: section3;
}

.footer {
  grid-area: footer;
}

.section1 {
  grid-area: section1;
}
